" ========================

" General Settings
" ========================
set number                  " Show line numbers
set relativenumber          " Relative line numbers
set scrolloff=10            " Keep cursor centered vertically
set showmode                " Display mode (e.g., INSERT, NORMAL)
set showcmd                 " Show partial commands in the bottom right
set smartcase               " Case-sensitive search only when uppercase is used
set incsearch               " Incremental search
set hlsearch                " Highlight search results
set visualbell              " Disable sound bell
set clipboard+=unnamed      " Use system clipboard
set clipboard+=unnamedplus  " Use clipboard for all operations

" ========================
" Plugin Settings
" ========================
set surround                " Enable surround text objects
set highlightedyank         " Highlight text after yank
set sneak                   " Use Sneak for quick movement
set nerdtree                " Enable NERDTree plugin
set argtextobj              " Argument text objects
set multicursor             " Multiple cursors
set ideajoin                " Smart line joining
set ideamarks               " Use IdeaVim marks

" ========================
" Leader Key Configuration
" ========================
let mapleader = " "         " Set leader key to space

" ========================
" Vim Mode Handlers
" ========================
sethandler <C-i> n-v-i:vim
sethandler <C-o> n-v-i:vim
sethandler <C-d> n-v-i:vim
sethandler <C-u> n-v-i:vim
sethandler <C-h> n-v-i:vim
sethandler <C-j> n-v-i:vim
sethandler <C-k> n-v-i:vim
sethandler <C-l> n-v-i:vim

" ========================
" Key Bindings
" ========================
" Reload .ideavimrc
nnoremap <leader>9 :source ~/.ideavimrc<cr>

" Back & Forward Navigation
nnoremap <C-o> :action Back<cr>
nnoremap <C-i> :action Forward<cr>

" ========================
" Window Management
" ========================
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <A-w> :action CloseAllEditorsButActive<cr>
nnoremap <A-q> :action CloseContent<cr>
nnoremap <A-t> :action NewScratchFile<cr>
nnoremap <leader>wv :action SplitVertically<cr>
nnoremap <leader>ws :action SplitHorizontally<cr>
nnoremap <leader>wc :action Unsplit<cr>
nnoremap <leader>wp :action MoveEditorToOppositeTabGroup<cr>
nnoremap <leader>wn :action EditSourceInNewWindow<cr>

" ========================
" Search & Navigation
" ========================
nnoremap ;; :nohlsearch<cr>
nnoremap <leader>fe :action GotoClass<cr>
nnoremap <leader>fn :action GotoFile<cr>
nnoremap <leader>fp :action ManageRecentProjects<cr>
nnoremap <leader>fa :action GotoAction<cr>
nnoremap <leader>fg :action FindInPath<cr>
nnoremap <leader>fh :action RecentFiles<cr>
nnoremap <leader>fm :action RecentLocations<cr>
nnoremap <leader>fs :action GotoSymbol<cr>
nnoremap <leader>fd :action Find<cr>
nnoremap <leader>fr :action Replace<cr>
nnoremap <leader>fR :action ReplaceInPath<cr>
nnoremap <leader>fx :action PasteMultiple<cr>

" ========================
" View Management
" ========================
nnoremap <leader>vf :action ActivateProjectToolWindow<cr>
nnoremap <leader>vp :action ActivateProblemsViewToolWindow<cr>
nnoremap <leader>vs :action ActivateStructureToolWindow<cr>
nnoremap <leader>vt :action ActivateTerminalToolWindow<cr>
nnoremap <leader>vv :action ActivateServicesToolWindow<cr>
nnoremap <leader>vd :action ActivateDebugToolWindow<cr>
nnoremap <leader>vg :action ActivateVersionControlToolWindow<cr>
nnoremap <leader>vo :action ActivateTODOToolWindow<cr>
nnoremap <leader>vc :action ActivateGitHubCopilotChatToolWindow<cr>
nnoremap <leader>vq :action CloseActiveTab<cr>

" ========================
" Debugging
" ========================
nnoremap <leader>de :action Debug<cr>
nnoremap <leader>dE :action ChooseDebugConfiguration<cr>
nnoremap <leader>dr :action Run<cr>
nnoremap <leader>dR :action ChooseRunConfiguration<cr>
nnoremap <leader>dk :action Stop<cr>
nnoremap <leader>db :action ToggleLineBreakpoint<cr>
nnoremap <leader>dm :action XDebugger.MuteBreakpoints<cr>
nnoremap <leader>dd :action Debugger.RemoveAllBreakpoints<cr>
nnoremap <leader>ds :action ViewBreakpoints<cr>
nnoremap <leader>dv :action StepOver<cr>
nnoremap <leader>di :action StepInto<cr>
nnoremap <leader>do :action StepOut<cr>
nnoremap <leader>dc :action Resume<cr>
nnoremap <leader>dx :action QuickEvaluateExpression<cr>
nnoremap <leader>dt :action EvaluateExpression<cr>
nnoremap <leader>dw :action Debugger.AddToWatch<cr>

" ========================
" Code Navigation
" ========================
nnoremap <leader>cd :action GotoDeclaration<cr>
nnoremap <leader>ct :action GotoTypeDeclaration<cr>
nnoremap <leader>ci :action GotoImplementation<cr>
nnoremap <leader>cs :action GotoSuperMethod<cr>
nnoremap <leader>cr :action ShowUsages<cr>
nnoremap <leader>cu :action HighlightUsagesInFile<cr>
nnoremap <leader>cv :action QuickJavaDoc<cr>
nnoremap <leader>cc :action CallHierarchy<cr>
nnoremap <leader>cn :action ShowNavBar<cr>
nnoremap <leader>cx :action FileStructurePopup<cr>
nnoremap <leader>cb :action CompileDirty<cr>
nnoremap <leader>cm :action ExternalSystem.ProjectRefreshAction<cr>
nnoremap <leader>cp :action ParameterInfo<cr>

" ========================
" Refactoring
" ========================
nnoremap <leader>re :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>rv :action IntroduceVariable<cr>
nnoremap <leader>rc :action IntroduceConstant<cr>
nnoremap <leader>rf :action IntroduceField<cr>
nnoremap <leader>rp :action IntroduceParameter<cr>
nnoremap <leader>rx :action ExtractMethod<cr>
nnoremap <leader>rf :action ReformatCode<cr>:action RearrangeCode<cr>:action OptimizeImports<cr>
nnoremap <leader>ro :action OptimizeImports<cr>
nnoremap <leader>ri :action Inline<cr>
nnoremap <leader>rs :action ChangeSignature<cr>
nnoremap <leader>rm :action Move<cr>

" ========================
" Git
" ========================
nnoremap <leader>gd :action Compare.LastVersion<cr>
nnoremap <leader>gn :action NextDiff<cr>
nnoremap <leader>gp :action PreviousDiff<cr>

" ========================
" UI Modes
" ========================
nnoremap <leader>md :action ToggleDistractionFreeMode<cr>
nnoremap <leader>mz :action ToggleZenMode<cr>
nnoremap <leader>mf :action ToggleFullScreen<cr>
