@define-color background #1a1b26;
@define-color foreground #a9b1d6;
@define-color accent #7aa2f7;
@define-color inactive #707590;
@define-color warning #e0af68;
@define-color critical #f7768e;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 15px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  color: @inactive;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.focused {
  color: @accent;
}

#workspaces button.empty {
  opacity: 0.5;
}

#battery,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
  background-color: @background;
  color: @foreground;
}

#clock {
  margin-left: 8.75px;
}

#battery.warning {
  color: @warning;
}

#battery.critical {
  color: @critical;
}
