@define-color background #100f0f;
@define-color foreground #cecdc3;
@define-color accent #4385be;
@define-color inactive #878580;
@define-color warning #d0a215;
@define-color critical #d14d41;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 15px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  color: @inactive;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.focused {
  color: @accent;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#custom-expand-icon,
#bluetooth,
#network,
#pulseaudio,
#battery {
  padding: 0 8px;
}

#tray-expander,
.tray-group-item {
  padding: 0;
  margin: 0;
}

tooltip {
  padding: 2px;
  background-color: @background;
  color: @foreground;
}

#clock {
  padding: 0 8px;
}

#battery.warning {
  color: @warning;
}

#battery.critical {
  color: @critical;
}
